/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.txt-cntr {
  text-align: center;
}

/* Typography */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Nav Bar Design */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 120px;
}
.nav-item.active .nav-link {
  color: #252432;
  font-weight: bold;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  gap: 50px;
}
.nav-link {
  text-decoration: none;
  color: #8987a1;
}
.nav-cart i {
  margin-right: 5px;
}
.nav-cart-text {
  font-weight: bold;
  color: #252432;
}

/* Banner-design */
.banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 120px;
}
.banner-left {
  width: 50%;
}
.banner-title {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 13px;
}
.cta {
  color: #e95a08;
}
.banner-description {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 1.375rem;
}
.banner-right img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* Our Plant card Section */
.our-plants {
  margin-bottom: 210px;
}
.our-plants-title {
  font-weight: bold;
  font-size: 3.125rem;
  margin-bottom: 16px;
}
.our-plants-description {
  font-weight: 400;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}
.our-plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}
.card-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.card-title {
  color: #111111;
  font-weight: 500;
  font-size: 1.375rem;
  margin-top: 30px;
  margin-bottom: 20px;
}
.card-price {
  color: #111111;
  font-weight: bold;
  font-size: 1.375rem;
  margin-bottom: 30px;
}
.card-button {
  width: 100%;
}
.crd-btn {
  padding: 20px 80px;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border: none;
}
.frm-btn {
  padding: 20px 55px;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border: none;
}
/* Plants Lover Section */
.plant-lover {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 135px;
}
.plant-lover-left {
  width: 100%;
  position: relative;
}
.trust-badge {
  width: 286px;
  position: absolute;
  top: -125px;
  left: 300px;
  border-radius: 50%;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.5));
}
.plant-lover-left img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.plant-lover-right-title {
  font-weight: bold;
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.plant-lover-right-points {
  list-style-type: disc;
  margin-left: 20px;
  padding: 0;
}
.plant-lover-right-point {
  font-weight: 400;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-left: 20px;
}
/* Latest Deal Section */
.latest-deal {
  margin-bottom: 120px;
}
.latest-deal-collage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
}
.latest-deal-header-title {
  font-weight: bold;
  font-size: 3.125rem;
  margin-bottom: 16px;
}
.latest-deal-header-subtitle {
  font-weight: 400;
  font: size 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 120px;
}
.collage-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-self: center;
}
.left-head {
  font-weight: bold;
  font-size: 1.25rem;
  color: #ffffff;
  margin-bottom: 10px;
}
.left-link {
  display: block;
  text-decoration: underline;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
}
.right-head {
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 10px;
}
.right-link {
  display: block;
  text-decoration: underline;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.75rem;
}
.collage-left-top {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/deal-ana.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 206px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
}
.collage-left-bottom {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/deal-bloom.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 206px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
}
.collage-right {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/deal-zabo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
}
/* Join Section */
.join {
  background: url("../assets/news-letter-bg.png") no-repeat center;
  height: 533px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.join-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-form-title {
  font-weight: bold;
  font-size: 3.125rem;
  color: #ffffff;
  margin-bottom: 23px;
}
.join-form-input {
  display: flex;
  justify-content: center;
  gap: 0;
}
.join-form-input input {
  padding: 10px;
  width: 644px;
  font-size: 1em;
  border: none;
  outline: none;
}
.join-form-input input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 1rem;
}
.join-form-button {
  display: inline-block;
}
/* Footer Section */
.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 50px auto;
}
.logo img {
  width: 135px;
}
.logo p {
  font-weight: 400;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 16px;
}
.footer-nav ul,
.features ul {
  list-style: none;
  padding: 0;
}
.footer-nav ul li,
.features ul li {
  margin-bottom: 24px;
}
.footer-nav ul li a,
.features ul li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.375rem;
}
.social img {
  width: 24px;
  margin-right: 10px;
}
/* Responsivenes */
@media screen and (max-width: 576px) {
  /* Navbar responisiveness */
  nav {
    padding-left: 8px;
    padding-right: 8px;
  }
  .nav-item {
    display: none;
  }
  /* Banner Responsiveness */
  .banner {
    flex-direction: column-reverse;
    margin-bottom: 65px;
  }
  .banner-left {
    width: 100%;
    padding: 0 8px;
  }
  .banner-right {
    text-align: left;
  }
  .banner-title {
    font-size: 1.5rem;
    margin-top: 28px;
  }
  .banner-description {
    font-size: 1rem;
  }
  /* Our Plant Section Responsiveness */
  .our-plants-header {
    padding: 8px;
  }
  .our-plants-card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 8px;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-price {
    font-size: 1rem;
  }
  .crd-btn {
    width: 100%;
    padding: 20px 30px;
  }
  .our-plants-title {
    font-size: 1.5rem;
  }
  .our-plants-description {
    font-size: 1rem;
  }
  .our-plants {
    margin-bottom: 40px;
  }
  /* Plant Lover Section Responsiveness */
  .plant-lover {
    flex-direction: column;
    gap: 0;
    padding: 0 8px;
  }
  .plant-lover-right-title {
    margin-top: 18px;
    font-size: 1.5rem;
  }
  .plant-lover-right-point {
    font-size: 1rem;
    margin-left: 0;
  }
  .trust-badge {
    display: none;
  }
  /* Latest Deal Section Responsiveness */
  .latest-deal {
    padding: 0 8px;
  }
  .latest-deal-collage {
    grid-template-columns: 1fr;
  }
  .collage-right {
    height: 206px;
    margin-top: 25px;
  }
  .right-head {
    font-size: 1.25rem;
  }
  .right-link {
    font-size: 1rem;
  }
  .latest-deal {
    margin-bottom: 40px;
  }
  .latest-deal-header-subtitle {
    margin-bottom: 50px;
  }
  /* Join Now Newsletter Section Responsiveness */
  .join {
    height: 276px;
    background-size: cover;
  }
  .join-form-title {
    font-size: 1.25rem;
  }
  .join-form-input {
    flex-direction: row;
    gap: 0;
  }
  .join-form-input input {
    width: 218px;
  }
  .frm-btn {
    padding: 20px 12px;
    width: 103px;
  }
  /* Footer Responsiveness */
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 16px;
    row-gap: 20px;
  }
}
